.godot/
bin/
/android/
.git/
.idea/
.vs/
publish/
dist/
Properties/
packages/
.editorconfig
*.user
scripts/*.gd.uid
Directory.Build.props
Eve/
Elesis_base_path.png.import
Elesis/images/card_portraits/source/**/*.import
Elesis/images/charui/*_source.png.import
